body {
  word-break: break-all;
}

@font-face {
  font-family: 'ymfe';
  src: url("https://s.qunarzz.com/ymfe/rustyColaPen/RustyColaPen-Regular-2.ttf");
  /* IE9*/
}

.ymfe {
  font-family: ymfe;
}

@font-face {
  font-family: 'iconfont';
  src: url("//s.qunarzz.com/ymfe/fonts/0.1.5/ymfe.eot");
  /* IE9*/
  src: url("//s.qunarzz.com/ymfe/fonts/0.1.5/ymfe.woff") format("woff"), url("//s.qunarzz.com/ymfe/fonts/0.1.5/ymfe.ttf") format("truetype"), url("//s.qunarzz.com/ymfe/fonts/0.1.5/ymfe.svg#iconfont") format("svg");
  /* iOS 4.1- */
}

.iconfont {
  font-family: iconfont;
  font-size: 16px;
  color: #fff;
}

.m-page-title {
  text-align: center;
  padding: 40px 0 0;
  -webkit-font-smoothing: antialiased;
}

.m-page-title h1 {
  font-size: 28px;
}

.m-page-title h2 {
  font-size: 24px;
}

.m-page-title h3 {
  font-size: 16px;
}

.m-page-title .desc {
  font-size: 18px;
  line-height: 1.8;
}

.title {
  font-weight: normal;
  color: #ff561b;
}

a {
  text-decoration: none;
  transition: color .4s;
}

a:hover {
  color: #ff561b;
}

ul {
  list-style: none;
  padding-left: 0;
}

h1, h2, h3 {
  font-weight: normal;
  color: #ff561b;
}

h1, h2, h3, h4, h5, h6 {
  color: #ff561b;
}

body {
  word-break: break-all;
}

@font-face {
  font-family: 'ymfe';
  src: url("https://s.qunarzz.com/ymfe/rustyColaPen/RustyColaPen-Regular-2.ttf");
  /* IE9*/
}

.ymfe {
  font-family: ymfe;
}

@font-face {
  font-family: 'iconfont';
  src: url("//s.qunarzz.com/ymfe/fonts/0.1.5/ymfe.eot");
  /* IE9*/
  src: url("//s.qunarzz.com/ymfe/fonts/0.1.5/ymfe.woff") format("woff"), url("//s.qunarzz.com/ymfe/fonts/0.1.5/ymfe.ttf") format("truetype"), url("//s.qunarzz.com/ymfe/fonts/0.1.5/ymfe.svg#iconfont") format("svg");
  /* iOS 4.1- */
}

.iconfont {
  font-family: iconfont;
  font-size: 16px;
  color: #fff;
}

.m-page-title {
  text-align: center;
  padding: 40px 0 0;
  -webkit-font-smoothing: antialiased;
}

.m-page-title h1 {
  font-size: 28px;
}

.m-page-title h2 {
  font-size: 24px;
}

.m-page-title h3 {
  font-size: 16px;
}

.m-page-title .desc {
  font-size: 18px;
  line-height: 1.8;
}

.title {
  font-weight: normal;
  color: #ff561b;
}

ul, li {
  list-style-type: none;
}

ul {
  padding: 0;
}

.nav-icon {
  cursor: pointer;
}

.nav-icon:hover .nav-icon-line {
  width: 35.2px;
}

.navpage-show .nav-icon-line {
  width: 35px;
}

.nav-icon-line {
  width: 32px;
  height: 3px;
  border-radius: 1px;
  opacity: 1;
  background-color: #ff561b;
  transition: all .4s;
}

.x .nav-icon-line.top {
  transform: rotate(45deg) translate(7px, 5px);
}

.x .nav-icon-line.bottom {
  transform: rotate(-45deg) translate(7px, -6px);
}

.x .nav-icon-line.middle {
  opacity: 0;
}

.nav-icon-line:not(:last-child) {
  margin: 0 0 6px 0;
}

.navpage-show .aside {
  background: #fff;
}

.aside {
  background: #333;
  width: 60px;
  height: 60px;
  bottom: 19px;
  right: 50px;
  position: fixed;
  z-index: 31;
  border-radius: 50%;
  transform: translateX(0);
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  transition: all .4s;
}

.aside:hover, .aside:active {
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2), 0 4px 15px rgba(0, 0, 0, 0.2);
}

@media screen and (min-width: 768px) and (max-width: 992px) {
  .aside {
    bottom: 15px;
    right: 15px;
  }
}

@media screen and (max-width: 768px) {
  .aside {
    bottom: 15px;
    right: 15px;
  }
}

.aside .nav-icon {
  padding: 20px 16px;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
}

.default .aside {
  transform: translateX(100%);
}

@media screen and (min-width: 768px) and (max-width: 992px) {
  .default .aside {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .default .aside {
    display: none;
  }
}

.navpage {
  color: #efefef;
  position: fixed;
  z-index: 9;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding-left: 100px;
  background-color: #333;
  opacity: 0;
  transform: translate(200%, 0);
  transition: opacity 1s, transform 0s 1s;
}

@media screen and (min-width: 768px) and (max-width: 992px) {
  .navpage {
    left: 0;
  }
}

@media screen and (max-width: 768px) {
  .navpage {
    left: 0;
    padding: 0 60px 0 20px;
  }
}

.navpage-show .navpage {
  opacity: 1;
  transform: translate(0, 0);
  transition: opacity 1s;
}

.navpage a {
  color: #efefef;
  text-decoration: none;
}

.navpage .navpage-content {
  padding-top: 160px;
}

@media screen and (min-width: 768px) and (max-width: 992px) {
  .navpage .navpage-content {
    padding-top: 105px;
  }
}

@media screen and (max-width: 768px) {
  .navpage .navpage-content {
    padding-top: 85px;
  }
}

.navpage-viewport {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 15;
  overflow: auto;
}

.navpage-main {
  display: flex;
  margin: -30px 0 0 0;
  opacity: 0;
  transition: margin .4s, opacity .4s;
}

@media screen and (min-width: 768px) and (max-width: 992px) {
  .navpage-main {
    display: block;
  }
}

@media screen and (max-width: 768px) {
  .navpage-main {
    display: block;
  }
}

.navpage-show .navpage-main {
  opacity: 1;
  margin: 0;
}

@media (max-width: 991px) {
  .navpage-show .navpage-main.inputFocus .navpage-nav {
    height: 0;
  }
}

@media screen and (max-width: 768px) {
  .inputFocus .fullname-logo {
    opacity: 0;
  }
}

@media screen and (max-width: 768px) {
  .inputFocus .navpage-search {
    transform: translateY(-154px);
  }
}

.navpage-nav {
  flex: 1;
  overflow: hidden;
  transition: height .4s;
}

.navpage-nav a {
  display: inline-block;
  font-size: 32px;
  line-height: 80px;
}

@media screen and (min-width: 768px) and (max-width: 992px) {
  .navpage-nav a {
    font-size: 20px;
    line-height: 50px;
  }
}

@media screen and (max-width: 768px) {
  .navpage-nav a {
    font-size: 18px;
    line-height: 45px;
  }
}

@media (min-width: 991px) {
  .navpage-nav {
    height: auto;
  }
}

.navpage-search {
  flex: 1 1;
  padding: 0 40px;
}

@media screen and (max-width: 768px) {
  .navpage-search {
    transition: transform .4s;
    transform: translateY(0);
  }
}

@media screen and (min-width: 768px) and (max-width: 992px) {
  .navpage-search {
    padding: 15px 0;
  }
}

@media screen and (max-width: 768px) {
  .navpage-search {
    padding: 15px 0;
  }
}

.navpage-search .fullname-logo {
  font-size: 44px;
  font-weight: 200;
  font-family: myriad pro, myriad, sans-serif, arial;
  line-height: 1.4;
  font-style: italic;
  padding: 0 0 30px 0;
  text-align: left;
  margin-bottom: 0;
}

@media screen and (max-width: 768px) {
  .navpage-search .fullname-logo {
    transition: opacity .4s;
    opacity: 1;
  }
}

@media screen and (min-width: 768px) and (max-width: 992px) {
  .navpage-search .fullname-logo {
    padding: 20px 0;
  }
}

@media screen and (max-width: 768px) {
  .navpage-search .fullname-logo {
    display: none;
  }
}

.navpage-search-wrapper {
  transition: width .5s;
  box-sizing: border-box;
  display: table;
  width: 340px;
  position: relative;
}

@media screen and (max-width: 768px) {
  .navpage-search-wrapper {
    width: 100%;
  }
}

.navpage-search-input {
  background-color: transparent;
  border: 1px solid #efefef;
  outline: none;
  padding: 12px 20px;
  font-size: 14px;
  box-sizing: border-box;
  width: 100%;
  color: #efefef;
}

.m-search-help {
  cursor: pointer;
  position: absolute;
  right: 15px;
  top: 11px;
  line-height: 32px;
  font-size: 18px;
  width: 20px;
  height: 23px;
  color: #2e3e4a;
  background-image: url(https://ws1.sinaimg.cn/large/006cGJIjly1fknu3g34hrj300k00ndfl.jpg);
  background-size: contain;
}

.m-search-help:hover .m-search-tip {
  display: inline-block;
}

.m-search-tip {
  display: none;
  cursor: auto;
  position: absolute;
  right: -16px;
  top: 35px;
  z-index: 9999;
  background-color: rgba(255, 255, 255, 0.2);
  color: #fff;
  font-size: 12px;
  text-align: left;
  white-space: nowrap;
  line-height: 1.5;
  font-weight: 200;
  padding: 8px;
  border-radius: 4px;
}

.m-search-tip:after {
  content: '';
  display: block;
  position: absolute;
  top: -16px;
  right: 17px;
  width: 0;
  height: 0;
  border-width: 8px;
  border-style: solid;
  border-color: transparent;
  border-bottom-color: rgba(255, 255, 255, 0.3);
}

.navpage-search-results {
  overflow: auto;
  background-color: rgba(255, 255, 255, 0.2);
}

.navpage-search-results a:hover {
  color: #efefef;
}

.navpage-search-results ul {
  padding: 10px 0;
}

.navpage-search-results li {
  margin: 5px 0;
  padding: 5px 20px;
}

.navpage-search-results li:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.navpage-search-results .active {
  background-color: rgba(255, 255, 255, 0.2);
}

.navpage-search-results .result-url {
  opacity: .6;
  font-size: 10px;
  word-break: break-all;
}

.navpage-search-intro {
  margin: 20px 0 0 0;
  font-size: 18px;
  color: #efefef;
}

@media screen and (min-width: 768px) and (max-width: 992px) {
  .navpage-search-intro {
    font-size: 14px;
  }
}

@media screen and (max-width: 768px) {
  .navpage-search-intro {
    font-size: 12px;
  }
}

.navpage-backgrounds {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-position: center;
  background-size: cover;
  background-image: url(https://ws1.sinaimg.cn/large/006cGJIjly1fj1zp6yrkvj31jk1117ei.jpg);
}

.navpage-backgrounds:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(20, 20, 20, 0.6);
}

.navpage-background {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0;
  transition: opacity .5s;
  background-position: center;
  background-size: cover;
  transform: scale(1);
}

.navpage-background.projects {
  background-image: url(https://ws1.sinaimg.cn/large/006cGJIjly1fj1zp617ujj31hc0zkaj2.jpg);
}

.navpage-background.articles {
  background-image: url(https://ws1.sinaimg.cn/large/006cGJIjly1fj1zp7q52xj31hc0zj7rh.jpg);
  transform: scale(1.1);
}

.navpage-background.github {
  background-image: url(https://ws1.sinaimg.cn/large/006cGJIjly1fj1zp739bkj31hc0zk16e.jpg);
}

.navpage-background.about {
  background-image: url(https://ws1.sinaimg.cn/large/006cGJIjly1fj1zp4c7f4j31hc0zqtfd.jpg);
  transform: scale(1.1);
}

.navpage-background.active {
  opacity: 1;
  transition: opacity .5s, transform 20s;
  transform: scale(1.1);
}

.navpage-background.active.articles, .navpage-background.active.about {
  transform: scale(1);
}

@media screen and (min-width: 1550px) {
  .navpage-search {
    padding: 40px 60px;
  }
  .navpage-search .fullname-logo {
    line-height: 1.4;
    padding: 0 0 45px 0;
  }
}

body {
  word-break: break-all;
}

@font-face {
  font-family: 'ymfe';
  src: url("https://s.qunarzz.com/ymfe/rustyColaPen/RustyColaPen-Regular-2.ttf");
  /* IE9*/
}

.ymfe {
  font-family: ymfe;
}

@font-face {
  font-family: 'iconfont';
  src: url("//s.qunarzz.com/ymfe/fonts/0.1.5/ymfe.eot");
  /* IE9*/
  src: url("//s.qunarzz.com/ymfe/fonts/0.1.5/ymfe.woff") format("woff"), url("//s.qunarzz.com/ymfe/fonts/0.1.5/ymfe.ttf") format("truetype"), url("//s.qunarzz.com/ymfe/fonts/0.1.5/ymfe.svg#iconfont") format("svg");
  /* iOS 4.1- */
}

.iconfont {
  font-family: iconfont;
  font-size: 16px;
  color: #fff;
}

.m-page-title {
  text-align: center;
  padding: 40px 0 0;
  -webkit-font-smoothing: antialiased;
}

.m-page-title h1 {
  font-size: 28px;
}

.m-page-title h2 {
  font-size: 24px;
}

.m-page-title h3 {
  font-size: 16px;
}

.m-page-title .desc {
  font-size: 18px;
  line-height: 1.8;
}

.title {
  font-weight: normal;
  color: #ff561b;
}

.row {
  box-sizing: border-box;
  width: 100%;
}

.row:after {
  content: '';
  display: table;
  clear: both;
}

.container {
  box-sizing: border-box;
}

@media screen and (max-width: 768px) {
  .col-xs-1 {
    width: 8.33333%;
    float: left;
    box-sizing: border-box;
  }
  .col-xs-2 {
    width: 16.66667%;
    float: left;
    box-sizing: border-box;
  }
  .col-xs-3 {
    width: 25%;
    float: left;
    box-sizing: border-box;
  }
  .col-xs-4 {
    width: 33.33333%;
    float: left;
    box-sizing: border-box;
  }
  .col-xs-5 {
    width: 41.66667%;
    float: left;
    box-sizing: border-box;
  }
  .col-xs-6 {
    width: 50%;
    float: left;
    box-sizing: border-box;
  }
  .col-xs-7 {
    width: 58.33333%;
    float: left;
    box-sizing: border-box;
  }
  .col-xs-8 {
    width: 66.66667%;
    float: left;
    box-sizing: border-box;
  }
  .col-xs-9 {
    width: 75%;
    float: left;
    box-sizing: border-box;
  }
  .col-xs-10 {
    width: 83.33333%;
    float: left;
    box-sizing: border-box;
  }
  .col-xs-11 {
    width: 91.66667%;
    float: left;
    box-sizing: border-box;
  }
  .col-xs-12 {
    width: 100%;
    float: left;
    box-sizing: border-box;
  }
  .container {
    width: 100%;
    padding: 0 16px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 768px) {
  .col-sm-1 {
    width: 8.33333%;
    float: left;
    box-sizing: border-box;
  }
  .col-sm-2 {
    width: 16.66667%;
    float: left;
    box-sizing: border-box;
  }
  .col-sm-3 {
    width: 25%;
    float: left;
    box-sizing: border-box;
  }
  .col-sm-4 {
    width: 33.33333%;
    float: left;
    box-sizing: border-box;
  }
  .col-sm-5 {
    width: 41.66667%;
    float: left;
    box-sizing: border-box;
  }
  .col-sm-6 {
    width: 50%;
    float: left;
    box-sizing: border-box;
  }
  .col-sm-7 {
    width: 58.33333%;
    float: left;
    box-sizing: border-box;
  }
  .col-sm-8 {
    width: 66.66667%;
    float: left;
    box-sizing: border-box;
  }
  .col-sm-9 {
    width: 75%;
    float: left;
    box-sizing: border-box;
  }
  .col-sm-10 {
    width: 83.33333%;
    float: left;
    box-sizing: border-box;
  }
  .col-sm-11 {
    width: 91.66667%;
    float: left;
    box-sizing: border-box;
  }
  .col-sm-12 {
    width: 100%;
    float: left;
    box-sizing: border-box;
  }
  .container {
    width: 750px;
    padding: 0 16px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 992px) {
  .col-md-1 {
    width: 8.33333%;
    float: left;
    box-sizing: border-box;
  }
  .col-md-2 {
    width: 16.66667%;
    float: left;
    box-sizing: border-box;
  }
  .col-md-3 {
    width: 25%;
    float: left;
    box-sizing: border-box;
  }
  .col-md-4 {
    width: 33.33333%;
    float: left;
    box-sizing: border-box;
  }
  .col-md-5 {
    width: 41.66667%;
    float: left;
    box-sizing: border-box;
  }
  .col-md-6 {
    width: 50%;
    float: left;
    box-sizing: border-box;
  }
  .col-md-7 {
    width: 58.33333%;
    float: left;
    box-sizing: border-box;
  }
  .col-md-8 {
    width: 66.66667%;
    float: left;
    box-sizing: border-box;
  }
  .col-md-9 {
    width: 75%;
    float: left;
    box-sizing: border-box;
  }
  .col-md-10 {
    width: 83.33333%;
    float: left;
    box-sizing: border-box;
  }
  .col-md-11 {
    width: 91.66667%;
    float: left;
    box-sizing: border-box;
  }
  .col-md-12 {
    width: 100%;
    float: left;
    box-sizing: border-box;
  }
  .container {
    width: 970px;
    padding: 0 16px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 1200px) {
  .col-lg-1 {
    width: 8.33333%;
    float: left;
    box-sizing: border-box;
  }
  .col-lg-2 {
    width: 16.66667%;
    float: left;
    box-sizing: border-box;
  }
  .col-lg-3 {
    width: 25%;
    float: left;
    box-sizing: border-box;
  }
  .col-lg-4 {
    width: 33.33333%;
    float: left;
    box-sizing: border-box;
  }
  .col-lg-5 {
    width: 41.66667%;
    float: left;
    box-sizing: border-box;
  }
  .col-lg-6 {
    width: 50%;
    float: left;
    box-sizing: border-box;
  }
  .col-lg-7 {
    width: 58.33333%;
    float: left;
    box-sizing: border-box;
  }
  .col-lg-8 {
    width: 66.66667%;
    float: left;
    box-sizing: border-box;
  }
  .col-lg-9 {
    width: 75%;
    float: left;
    box-sizing: border-box;
  }
  .col-lg-10 {
    width: 83.33333%;
    float: left;
    box-sizing: border-box;
  }
  .col-lg-11 {
    width: 91.66667%;
    float: left;
    box-sizing: border-box;
  }
  .col-lg-12 {
    width: 100%;
    float: left;
    box-sizing: border-box;
  }
  .container {
    width: 1170px;
    padding: 0 16px;
    margin: 0 auto;
  }
}

/*! responsive-nav.js 1.0.39 by @viljamis */
.nav-collapse ul {
  margin: 0;
  padding: 0;
  width: 100%;
  display: block;
  list-style: none;
}

.nav-collapse li {
  width: 100%;
  display: block;
}

.js .nav-collapse {
  clip: rect(0 0 0 0);
  max-height: 0;
  position: absolute;
  display: block;
  overflow: hidden;
  zoom: 1;
}

.nav-collapse.opened {
  max-height: 9999px;
}

.nav-toggle {
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

@media screen and (min-width: 992px) {
  .js .nav-collapse {
    position: relative;
  }
  .js .nav-collapse.closed {
    max-height: none;
  }
  .nav-toggle {
    display: none;
  }
}

@font-face {
  font-family: 'iconfont';
  src: url("//s.qunarzz.com/ymfe/fonts/0.1.6/ymfe.eot");
  /* IE9*/
  src: url("//s.qunarzz.com/ymfe/fonts/0.1.6/ymfe.woff") format("woff"), url("//s.qunarzz.com/ymfe/fonts/0.1.6/ymfe.ttf") format("truetype"), url("//s.qunarzz.com/ymfe/fonts/0.1.6/ymfe.svg#iconfont") format("svg");
  /* iOS 4.1- */
}

.iconfont {
  font-family: iconfont;
  font-size: 16px;
  color: rgba(255, 255, 255, 0.85);
  line-height: 64px;
  position: absolute;
  top: 0;
  right: 16px;
}

.nav-icon {
  font-family: iconfont;
}

.header {
  height: 64px;
  background-color: #333;
}

.header .header-logo {
  line-height: 64px;
  height: 64px;
}

.header .header-logo .link {
  -webkit-font-smoothing: auto;
  color: rgba(255, 255, 255, 0.85);
  transition: color .25s;
}

.header .header-logo .link:hover {
  color: #ff561b;
}

.header .m-header-container {
  background-color: #333;
  position: relative;
  z-index: 1;
  padding: 0 16px;
  opacity: 1;
  transition: all .25s;
}

@media screen and (max-width: 768px) {
  .header .m-header-container {
    width: 100%;
  }
}

@media screen and (min-width: 768px) and (max-width: 992px) {
  .header .m-header-container {
    width: 100%;
  }
}

@media screen and (min-width: 992px) {
  .header .m-header-container {
    display: flex;
    justify-content: space-between;
  }
}

.header .link {
  list-style: none;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.85);
  font-size: 16px;
}

.header .m-header-nav {
  -webkit-font-smoothing: antialiased;
}

@media screen and (min-width: 992px) {
  .header .m-header-nav .m-nav-ul {
    height: 64px;
  }
}

@media screen and (min-width: 992px) {
  .header .m-header-nav .item {
    width: auto;
    display: inline-block;
    line-height: 64px;
  }
}

.header .m-header-nav .link {
  display: inline-block;
  width: 100%;
  line-height: 36px;
  transition: all .25s;
}

@media screen and (min-width: 992px) {
  .header .m-header-nav .link {
    line-height: 64px;
    padding: 0 16px;
  }
}

.header .m-header-nav .link:hover {
  color: #ff561b;
}

.header .link.out:after {
  content: '\f4f3';
  position: relative;
  left: 4px;
  top: 1px;
  font-size: 14px;
  opacity: 0;
  color: rgba(255, 255, 255, 0.85);
  transition: all .25s;
}

.header .link.out:hover:after {
  opacity: 1;
  color: #ff561b;
}

.m-footer {
  -webkit-font-smoothing: antialiased;
  text-align: center;
  background-color: #333;
  padding: 98px 0;
  color: rgba(255, 255, 255, 0.85);
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Helvetica, 'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei', SimSun, sans-serif;
  -webkit-font-smoothing: antialiased;
}

.m-about-page {
  font-size: 18px;
  color: #6f7c82;
  line-height: 1.8;
  overflow-x: hidden;
}

.m-about-page h1, .m-about-page h2, .m-about-page h3 {
  color: #ff561b;
  font-weight: normal;
}

.m-about-page h1 {
  font-size: 28px;
}

.m-about-page h2 {
  font-size: 24px;
}

.m-about-page h3 {
  font-size: 16px;
}

.m-about-page .content {
  box-sizing: border-box;
  max-width: 1170px;
  padding: 0 100px;
  margin: 0 auto;
}

@media screen and (max-width: 768px) {
  .m-about-page .content {
    padding: 0 60px;
  }
}

@media screen and (min-width: 768px) and (max-width: 992px) {
  .m-about-page .content {
    padding: 0 15px;
  }
}

.m-about-page .m-about-us {
  padding: 40px 0 0 0;
}

.m-about-page .m-about-us h1, .m-about-page .m-about-us p {
  text-align: center;
}

.m-about-page .m-about-us .content {
  padding: 0 24px;
}

.m-about-page .m-about-us .content .desc {
  margin: 0;
}

.m-about-page .m-photo-wall {
  height: 400px;
  margin: 30px 0 50px;
  display: none;
}

@media screen and (min-width: 992px) {
  .m-about-page .m-photo-wall {
    display: block;
  }
}

.m-about-page .m-what-we-do {
  background: linear-gradient(to top left, #d87c08, #d65424 50%, #b13c13);
  padding: 80px 0 60px 0;
}

@media screen and (min-width: 992px) {
  .m-about-page .m-what-we-do {
    background: linear-gradient(90deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0.15) 0, rgba(255, 255, 255, 0.15)), linear-gradient(to top left, #e88f1f, #e86230 50%, #ce4718);
    padding: 24px 0;
  }
}

.m-about-page .m-what-we-do h1, .m-about-page .m-what-we-do h2, .m-about-page .m-what-we-do h3, .m-about-page .m-what-we-do p {
  color: #fff;
}

.m-about-page .m-what-we-do .content {
  display: block;
}

@media screen and (min-width: 992px) {
  .m-about-page .m-what-we-do .content {
    display: flex;
  }
}

.m-about-page .m-what-we-do .main, .m-about-page .m-what-we-do aside {
  box-sizing: border-box;
  flex: none;
}

@media screen and (min-width: 992px) {
  .m-about-page .m-what-we-do .main, .m-about-page .m-what-we-do aside {
    flex: 1;
  }
}

.m-about-page .m-what-we-do .main ul > li {
  font-size: 16px;
  color: #ffc8b5;
}

.m-about-page .m-what-we-do .main ul > li:before {
  content: '-';
  display: inline-block;
  margin: 0 10px 0 0;
}

.m-about-page .m-what-we-do .main .inner {
  padding: 0;
}

@media screen and (min-width: 992px) {
  .m-about-page .m-what-we-do .main .inner {
    padding: 0 75px 0 0;
  }
}

.m-about-page .m-what-we-do aside h3 {
  margin: 0;
}

.m-about-page .m-what-we-do aside ul {
  margin: 0;
}

.m-about-page .m-what-we-do aside ul > li {
  font-size: 14px;
  color: #ffc8b5;
}

.m-about-page .m-what-we-do aside .inner {
  padding: 0;
}

@media screen and (min-width: 992px) {
  .m-about-page .m-what-we-do aside .inner {
    padding: 0 75px 0 75px;
  }
}

.m-about-page .m-what-we-do aside .inner > article {
  padding: 16px;
  border: 1px solid #b73f15;
  border-radius: 8px;
}

.m-about-page .m-what-we-do aside .inner > article:not(:last-child) {
  margin: 16px 0;
}

.m-about-page .m-what-we-do aside .article {
  background-color: transparent;
  cursor: pointer;
  transition: all .2s;
}

.m-about-page .m-what-we-do aside .article:hover {
  background-color: #b13c13;
}

.m-about-page .m-our-style {
  display: flex;
  padding: 20px 0;
}

@media screen and (min-width: 992px) {
  .m-about-page .m-our-style {
    padding: 80px 0 60px 0;
  }
}

.m-about-page .m-our-style .content {
  display: flex;
}

.m-about-page .m-our-style .main, .m-about-page .m-our-style aside {
  box-sizing: border-box;
  flex: 1;
}

.m-about-page .m-our-style .main ul > li:before {
  content: '-';
  display: inline-block;
  margin: 0 10px 0 0;
}

.m-about-page .m-our-style .main .inner {
  padding: 0;
}

@media screen and (min-width: 992px) {
  .m-about-page .m-our-style .main .inner {
    padding: 55px 50px 0 0;
  }
}

.m-about-page .m-our-style aside {
  display: none;
}

@media screen and (min-width: 992px) {
  .m-about-page .m-our-style aside {
    display: flex;
  }
}

.m-about-page .m-our-style aside .inner {
  flex: 1;
  padding: 0 50px;
}

.m-about-page .m-our-style aside .inner .photo {
  opacity: .85;
  background-image: url(https://ws1.sinaimg.cn/large/006cGJIjly1fkntte8io9j30b40c941o.jpg);
  background-size: contain;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  height: 100%;
  width: 400px;
}

.m-about-page .m-join-us {
  background-color: #ececec;
  padding: 20px 0;
}

@media screen and (min-width: 992px) {
  .m-about-page .m-join-us {
    padding: 60px 0;
  }
}

.m-about-page .m-join-us .content {
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 768px) and (max-width: 992px) {
  .m-about-page .m-join-us .content {
    display: block;
  }
}

@media screen and (min-width: 992px) {
  .m-about-page .m-join-us .content {
    display: flex;
    flex-direction: row;
  }
}

.m-about-page .m-join-us .main, .m-about-page .m-join-us aside {
  flex: 1;
}

@media screen and (min-width: 768px) and (max-width: 992px) {
  .m-about-page .m-join-us .main, .m-about-page .m-join-us aside {
    flex: none;
  }
}

.m-about-page .m-join-us aside {
  text-align: right;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

@media screen and (min-width: 768px) and (max-width: 992px) {
  .m-about-page .m-join-us aside {
    text-align: left;
    justify-content: flex-start;
    margin-bottom: 24px;
  }
}

.m-about-page .m-join-us button {
  background-color: #ff561b;
  color: #fff;
  font-size: 15px;
  letter-spacing: 1px;
  border: none;
  border-radius: 4px;
  line-height: 40px;
  height: 40px;
  padding: 0 24px;
  margin-right: 24px;
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
  transform: translateY(0);
  transition: all .2s;
  cursor: pointer;
}

@media screen and (min-width: 768px) and (max-width: 992px) {
  .m-about-page .m-join-us button {
    margin: 0;
  }
}

.m-about-page .m-join-us button:hover, .m-about-page .m-join-us button:focus {
  background-color: #ff7c4e;
  transform: translateY(-1px);
  outline: none;
}

.m-about-page .m-join-us button:active {
  background-color: #c14418;
  transform: translateY(1px);
}
