body {
  word-break: break-all;
}

@font-face {
  font-family: 'ymfe';
  src: url("https://s.qunarzz.com/ymfe/rustyColaPen/RustyColaPen-Regular-2.ttf");
  /* IE9*/
}

.ymfe {
  font-family: ymfe;
}

@font-face {
  font-family: 'iconfont';
  src: url("//s.qunarzz.com/ymfe/fonts/0.1.5/ymfe.eot");
  /* IE9*/
  src: url("//s.qunarzz.com/ymfe/fonts/0.1.5/ymfe.woff") format("woff"), url("//s.qunarzz.com/ymfe/fonts/0.1.5/ymfe.ttf") format("truetype"), url("//s.qunarzz.com/ymfe/fonts/0.1.5/ymfe.svg#iconfont") format("svg");
  /* iOS 4.1- */
}

.iconfont {
  font-family: iconfont;
  font-size: 16px;
  color: #fff;
}

.m-page-title {
  text-align: center;
  padding: 40px 0 0;
  -webkit-font-smoothing: antialiased;
}

.m-page-title h1 {
  font-size: 28px;
}

.m-page-title h2 {
  font-size: 24px;
}

.m-page-title h3 {
  font-size: 16px;
}

.m-page-title .desc {
  font-size: 18px;
  line-height: 1.8;
}

.title {
  font-weight: normal;
  color: #ff561b;
}

body {
  word-break: break-all;
}

@font-face {
  font-family: 'ymfe';
  src: url("https://s.qunarzz.com/ymfe/rustyColaPen/RustyColaPen-Regular-2.ttf");
  /* IE9*/
}

.ymfe {
  font-family: ymfe;
}

@font-face {
  font-family: 'iconfont';
  src: url("//s.qunarzz.com/ymfe/fonts/0.1.5/ymfe.eot");
  /* IE9*/
  src: url("//s.qunarzz.com/ymfe/fonts/0.1.5/ymfe.woff") format("woff"), url("//s.qunarzz.com/ymfe/fonts/0.1.5/ymfe.ttf") format("truetype"), url("//s.qunarzz.com/ymfe/fonts/0.1.5/ymfe.svg#iconfont") format("svg");
  /* iOS 4.1- */
}

.iconfont {
  font-family: iconfont;
  font-size: 16px;
  color: #fff;
}

.m-page-title {
  text-align: center;
  padding: 40px 0 0;
  -webkit-font-smoothing: antialiased;
}

.m-page-title h1 {
  font-size: 28px;
}

.m-page-title h2 {
  font-size: 24px;
}

.m-page-title h3 {
  font-size: 16px;
}

.m-page-title .desc {
  font-size: 18px;
  line-height: 1.8;
}

.title {
  font-weight: normal;
  color: #ff561b;
}

/*! normalize.css v3.0.2 | MIT License | git.io/normalize */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/**
 * Remove default margin.
 */
body {
  margin: 0;
}

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none;
}

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: 0;
}

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted;
}

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b,
strong {
  font-weight: bold;
}

/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic;
}

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000;
}

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9/10.
 */
img {
  border: 0;
}

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden;
}

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
  margin: 1em 40px;
}

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto;
}

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */
}

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
}

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default;
}

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal;
}

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box;
}

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto;
}

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold;
}

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
}

html, body, .page {
  height: 100%;
}

body {
  background-color: #fff;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Helvetica, 'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei', SimSun, sans-serif;
}

.nav-icon {
  cursor: pointer;
}

.nav-icon:hover .nav-icon-line {
  width: 35.2px;
}

.navpage-show .nav-icon-line {
  width: 35px;
}

.nav-icon-line {
  width: 32px;
  height: 3px;
  border-radius: 1px;
  opacity: 1;
  background-color: #ff561b;
  transition: all .4s;
}

.x .nav-icon-line.top {
  transform: rotate(45deg) translate(7px, 5px);
}

.x .nav-icon-line.bottom {
  transform: rotate(-45deg) translate(7px, -6px);
}

.x .nav-icon-line.middle {
  opacity: 0;
}

.header-logo-word {
  fill: #efefef;
  transition: all .4s;
}

.x + .header-main .header-logo-word .y {
  fill: #ff561b;
}

.x + .header-main .header-logo-word .m {
  fill: #fac200;
}

.x + .header-main .header-logo-word .f {
  fill: #57cf27;
}

.x + .header-main .header-logo-word .e {
  fill: #2395f1;
}

.nav-icon-line:not(:last-child) {
  margin: 0 0 6px 0;
}

.fullname-logo {
  font-family: 'ProximaNovaBold', Helvetica, Arial;
  font-size: 44px;
  line-height: 24px;
  margin-bottom: 30px;
  text-align: center;
}

@media screen and (max-width: 768px) {
  .fullname-logo {
    margin-bottom: 12px;
    font-size: 24px;
  }
}

.fullname-logo em {
  font-style: normal;
  color: #ff561b;
  font-size: 1.2em;
}

.fullname-desc {
  color: rgba(255, 255, 255, 0.85);
  font-weight: normal;
  font-size: 18px;
  text-align: center;
}

@media screen and (min-width: 768px) and (max-width: 992px) {
  .fullname-desc {
    font-size: 14px;
  }
}

@media screen and (max-width: 768px) {
  .fullname-desc {
    font-size: 13px;
  }
}

.loading-page {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #333;
  z-index: 41;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transform: translateX(100%);
  transition: opacity 1s, transform 0s 1s;
}

.loading.default .loading-page {
  opacity: 1;
  transform: translateX(0);
}

.loading-icon {
  position: relative;
  width: 310px;
  height: 178px;
}

@media screen and (max-width: 768px) {
  .loading-icon {
    width: 155px;
    height: 89px;
  }
}

.loading-progressbar {
  background-color: #ff561b;
  transition: width .2s;
  width: 0;
  height: 100%;
}

.loading-logo {
  position: absolute;
  top: -5px;
  left: -5px;
  width: calc(100% + 10px);
  height: calc(100% + 10px);
}

.loading-logo svg {
  width: 100%;
  height: 100%;
}

.loading-logo svg use {
  fill: #333;
}

.loading-text {
  color: rgba(255, 255, 255, 0.3);
  text-align: right;
  font-size: 14px;
  margin: 0 10px 0 0;
}

@media screen and (max-width: 768px) {
  .loading-text {
    font-size: 10px;
  }
}

.navpage-show .aside {
  background: #fff;
}

.aside {
  background: #333;
  width: 60px;
  height: 60px;
  bottom: 19px;
  right: 50px;
  position: fixed;
  z-index: 31;
  border-radius: 50%;
  transform: translateX(0);
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  transition: all .4s;
}

.aside:hover, .aside:active {
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2), 0 4px 15px rgba(0, 0, 0, 0.2);
}

@media screen and (min-width: 768px) and (max-width: 992px) {
  .aside {
    bottom: 15px;
    right: 15px;
  }
}

@media screen and (max-width: 768px) {
  .aside {
    bottom: 15px;
    right: 15px;
  }
}

.aside .nav-icon {
  padding: 20px 16px;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
}

.default .aside {
  transform: translateX(100%);
}

@media screen and (min-width: 768px) and (max-width: 992px) {
  .default .aside {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .default .aside {
    display: none;
  }
}

.page {
  position: relative;
}

@media screen and (min-width: 768px) and (max-width: 992px) {
  .page {
    margin: 0;
    transition: margin .4s;
  }
}

@media screen and (max-width: 768px) {
  .page {
    margin: 0;
    transition: margin .4s;
  }
}

.page a {
  text-decoration: none;
  transition: color .4s;
}

.page a:hover {
  color: #ff561b;
}

.page ul {
  list-style: none;
  padding-left: 0;
}

body {
  word-break: break-all;
}

@font-face {
  font-family: 'ymfe';
  src: url("https://s.qunarzz.com/ymfe/rustyColaPen/RustyColaPen-Regular-2.ttf");
  /* IE9*/
}

.ymfe {
  font-family: ymfe;
}

@font-face {
  font-family: 'iconfont';
  src: url("//s.qunarzz.com/ymfe/fonts/0.1.5/ymfe.eot");
  /* IE9*/
  src: url("//s.qunarzz.com/ymfe/fonts/0.1.5/ymfe.woff") format("woff"), url("//s.qunarzz.com/ymfe/fonts/0.1.5/ymfe.ttf") format("truetype"), url("//s.qunarzz.com/ymfe/fonts/0.1.5/ymfe.svg#iconfont") format("svg");
  /* iOS 4.1- */
}

.iconfont {
  font-family: iconfont;
  font-size: 16px;
  color: #fff;
}

.m-page-title {
  text-align: center;
  padding: 40px 0 0;
  -webkit-font-smoothing: antialiased;
}

.m-page-title h1 {
  font-size: 28px;
}

.m-page-title h2 {
  font-size: 24px;
}

.m-page-title h3 {
  font-size: 16px;
}

.m-page-title .desc {
  font-size: 18px;
  line-height: 1.8;
}

.title {
  font-weight: normal;
  color: #ff561b;
}

.row {
  box-sizing: border-box;
  width: 100%;
}

.row:after {
  content: '';
  display: table;
  clear: both;
}

.container {
  box-sizing: border-box;
}

@media screen and (max-width: 768px) {
  .col-xs-1 {
    width: 8.33333%;
    float: left;
    box-sizing: border-box;
  }
  .col-xs-2 {
    width: 16.66667%;
    float: left;
    box-sizing: border-box;
  }
  .col-xs-3 {
    width: 25%;
    float: left;
    box-sizing: border-box;
  }
  .col-xs-4 {
    width: 33.33333%;
    float: left;
    box-sizing: border-box;
  }
  .col-xs-5 {
    width: 41.66667%;
    float: left;
    box-sizing: border-box;
  }
  .col-xs-6 {
    width: 50%;
    float: left;
    box-sizing: border-box;
  }
  .col-xs-7 {
    width: 58.33333%;
    float: left;
    box-sizing: border-box;
  }
  .col-xs-8 {
    width: 66.66667%;
    float: left;
    box-sizing: border-box;
  }
  .col-xs-9 {
    width: 75%;
    float: left;
    box-sizing: border-box;
  }
  .col-xs-10 {
    width: 83.33333%;
    float: left;
    box-sizing: border-box;
  }
  .col-xs-11 {
    width: 91.66667%;
    float: left;
    box-sizing: border-box;
  }
  .col-xs-12 {
    width: 100%;
    float: left;
    box-sizing: border-box;
  }
  .container {
    width: 100%;
    padding: 0 16px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 768px) {
  .col-sm-1 {
    width: 8.33333%;
    float: left;
    box-sizing: border-box;
  }
  .col-sm-2 {
    width: 16.66667%;
    float: left;
    box-sizing: border-box;
  }
  .col-sm-3 {
    width: 25%;
    float: left;
    box-sizing: border-box;
  }
  .col-sm-4 {
    width: 33.33333%;
    float: left;
    box-sizing: border-box;
  }
  .col-sm-5 {
    width: 41.66667%;
    float: left;
    box-sizing: border-box;
  }
  .col-sm-6 {
    width: 50%;
    float: left;
    box-sizing: border-box;
  }
  .col-sm-7 {
    width: 58.33333%;
    float: left;
    box-sizing: border-box;
  }
  .col-sm-8 {
    width: 66.66667%;
    float: left;
    box-sizing: border-box;
  }
  .col-sm-9 {
    width: 75%;
    float: left;
    box-sizing: border-box;
  }
  .col-sm-10 {
    width: 83.33333%;
    float: left;
    box-sizing: border-box;
  }
  .col-sm-11 {
    width: 91.66667%;
    float: left;
    box-sizing: border-box;
  }
  .col-sm-12 {
    width: 100%;
    float: left;
    box-sizing: border-box;
  }
  .container {
    width: 750px;
    padding: 0 16px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 992px) {
  .col-md-1 {
    width: 8.33333%;
    float: left;
    box-sizing: border-box;
  }
  .col-md-2 {
    width: 16.66667%;
    float: left;
    box-sizing: border-box;
  }
  .col-md-3 {
    width: 25%;
    float: left;
    box-sizing: border-box;
  }
  .col-md-4 {
    width: 33.33333%;
    float: left;
    box-sizing: border-box;
  }
  .col-md-5 {
    width: 41.66667%;
    float: left;
    box-sizing: border-box;
  }
  .col-md-6 {
    width: 50%;
    float: left;
    box-sizing: border-box;
  }
  .col-md-7 {
    width: 58.33333%;
    float: left;
    box-sizing: border-box;
  }
  .col-md-8 {
    width: 66.66667%;
    float: left;
    box-sizing: border-box;
  }
  .col-md-9 {
    width: 75%;
    float: left;
    box-sizing: border-box;
  }
  .col-md-10 {
    width: 83.33333%;
    float: left;
    box-sizing: border-box;
  }
  .col-md-11 {
    width: 91.66667%;
    float: left;
    box-sizing: border-box;
  }
  .col-md-12 {
    width: 100%;
    float: left;
    box-sizing: border-box;
  }
  .container {
    width: 970px;
    padding: 0 16px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 1200px) {
  .col-lg-1 {
    width: 8.33333%;
    float: left;
    box-sizing: border-box;
  }
  .col-lg-2 {
    width: 16.66667%;
    float: left;
    box-sizing: border-box;
  }
  .col-lg-3 {
    width: 25%;
    float: left;
    box-sizing: border-box;
  }
  .col-lg-4 {
    width: 33.33333%;
    float: left;
    box-sizing: border-box;
  }
  .col-lg-5 {
    width: 41.66667%;
    float: left;
    box-sizing: border-box;
  }
  .col-lg-6 {
    width: 50%;
    float: left;
    box-sizing: border-box;
  }
  .col-lg-7 {
    width: 58.33333%;
    float: left;
    box-sizing: border-box;
  }
  .col-lg-8 {
    width: 66.66667%;
    float: left;
    box-sizing: border-box;
  }
  .col-lg-9 {
    width: 75%;
    float: left;
    box-sizing: border-box;
  }
  .col-lg-10 {
    width: 83.33333%;
    float: left;
    box-sizing: border-box;
  }
  .col-lg-11 {
    width: 91.66667%;
    float: left;
    box-sizing: border-box;
  }
  .col-lg-12 {
    width: 100%;
    float: left;
    box-sizing: border-box;
  }
  .container {
    width: 1170px;
    padding: 0 16px;
    margin: 0 auto;
  }
}

/*! responsive-nav.js 1.0.39 by @viljamis */
.nav-collapse ul {
  margin: 0;
  padding: 0;
  width: 100%;
  display: block;
  list-style: none;
}

.nav-collapse li {
  width: 100%;
  display: block;
}

.js .nav-collapse {
  clip: rect(0 0 0 0);
  max-height: 0;
  position: absolute;
  display: block;
  overflow: hidden;
  zoom: 1;
}

.nav-collapse.opened {
  max-height: 9999px;
}

.nav-toggle {
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

@media screen and (min-width: 992px) {
  .js .nav-collapse {
    position: relative;
  }
  .js .nav-collapse.closed {
    max-height: none;
  }
  .nav-toggle {
    display: none;
  }
}

@font-face {
  font-family: 'iconfont';
  src: url("//s.qunarzz.com/ymfe/fonts/0.1.6/ymfe.eot");
  /* IE9*/
  src: url("//s.qunarzz.com/ymfe/fonts/0.1.6/ymfe.woff") format("woff"), url("//s.qunarzz.com/ymfe/fonts/0.1.6/ymfe.ttf") format("truetype"), url("//s.qunarzz.com/ymfe/fonts/0.1.6/ymfe.svg#iconfont") format("svg");
  /* iOS 4.1- */
}

.iconfont {
  font-family: iconfont;
  font-size: 16px;
  color: rgba(255, 255, 255, 0.85);
  line-height: 64px;
  position: absolute;
  top: 0;
  right: 16px;
}

.nav-icon {
  font-family: iconfont;
}

.header {
  height: 64px;
  background-color: #333;
}

.header .header-logo {
  line-height: 64px;
  height: 64px;
}

.header .header-logo .link {
  -webkit-font-smoothing: auto;
  color: rgba(255, 255, 255, 0.85);
  transition: color .25s;
}

.header .header-logo .link:hover {
  color: #ff561b;
}

.header .m-header-container {
  background-color: #333;
  position: relative;
  z-index: 1;
  padding: 0 16px;
  opacity: 1;
  transition: all .25s;
}

@media screen and (max-width: 768px) {
  .header .m-header-container {
    width: 100%;
  }
}

@media screen and (min-width: 768px) and (max-width: 992px) {
  .header .m-header-container {
    width: 100%;
  }
}

@media screen and (min-width: 992px) {
  .header .m-header-container {
    display: flex;
    justify-content: space-between;
  }
}

.header .link {
  list-style: none;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.85);
  font-size: 16px;
}

.header .m-header-nav {
  -webkit-font-smoothing: antialiased;
}

@media screen and (min-width: 992px) {
  .header .m-header-nav .m-nav-ul {
    height: 64px;
  }
}

@media screen and (min-width: 992px) {
  .header .m-header-nav .item {
    width: auto;
    display: inline-block;
    line-height: 64px;
  }
}

.header .m-header-nav .link {
  display: inline-block;
  width: 100%;
  line-height: 36px;
  transition: all .25s;
}

@media screen and (min-width: 992px) {
  .header .m-header-nav .link {
    line-height: 64px;
    padding: 0 16px;
  }
}

.header .m-header-nav .link:hover {
  color: #ff561b;
}

.header .link.out:after {
  content: '\f4f3';
  position: relative;
  left: 4px;
  top: 1px;
  font-size: 14px;
  opacity: 0;
  color: rgba(255, 255, 255, 0.85);
  transition: all .25s;
}

.header .link.out:hover:after {
  opacity: 1;
  color: #ff561b;
}

.navpage-show .m-header-container {
  opacity: 0;
}

.default .header-inner {
  opacity: 0;
  transform: translateY(-150%);
}

@media screen and (min-width: 768px) and (max-width: 992px) {
  .default .header-inner {
    transform: translateY(0);
  }
}

@media screen and (max-width: 768px) {
  .default .header-inner {
    transform: translateY(0);
  }
}

.navpage-show .header-nav {
  display: none;
}

.cover {
  position: relative;
  padding: 0;
  background-color: #333;
}

.cover-img {
  user-select: none;
  width: 100%;
  display: block;
  background-size: cover;
}

.cover-fullname-logo {
  display: block;
  position: absolute;
  left: 50%;
  top: 40%;
  color: rgba(255, 255, 255, 0.85);
  width: 90%;
  transform: translate(-50%, -50%);
}

.main {
  background: #fff;
  position: relative;
}

.row footer {
  text-align: center;
}

.row .ui-btn {
  padding: 16px;
  width: 215px;
  border: 1px solid #2e3e4a;
  border-radius: 2px;
  background-color: transparent;
  color: #2e3e4a;
  font-size: 14px;
  outline: none;
  transition: all .4s;
}

.row .ui-btn:hover {
  color: #fff;
  background-color: #2e3e4a;
}

.row-blog {
  background: radial-gradient(#ccc 3%, transparent 16%) 0 0, radial-gradient(#ccc 3%, transparent 16%) 8px 8px, radial-gradient(rgba(255, 255, 255, 0.1) 5%, transparent 20%) 0 1px, radial-gradient(rgba(255, 255, 255, 0.1) 5%, transparent 20%) 8px 9px;
  background-color: #f8f9fa;
  background-size: 16px 16px;
}

.content-section {
  padding: 120px 70px;
  max-width: 1170px;
  margin: 0 auto;
}

@media screen and (min-width: 768px) and (max-width: 992px) {
  .content-section {
    padding: 45px 24px;
  }
}

@media screen and (max-width: 768px) {
  .content-section {
    padding: 30px 15px;
  }
}

.content-list {
  display: flex;
  flex-wrap: wrap;
  padding: 40px 0 40px 0;
}

@media screen and (min-width: 768px) and (max-width: 992px) {
  .content-list {
    padding: 20px 0 20px 0;
  }
}

@media screen and (max-width: 768px) {
  .content-list {
    padding: 20px 0 20px 0;
  }
}

.content-blog {
  display: flex;
  flex-wrap: wrap;
  padding: 40px 0 40px 0;
  justify-content: space-between;
}

@media screen and (min-width: 768px) and (max-width: 992px) {
  .content-blog {
    padding: 20px 0 20px 0;
  }
}

@media screen and (max-width: 768px) {
  .content-blog {
    padding: 20px 0 20px 0;
  }
}

.content-item {
  box-sizing: border-box;
  width: 50%;
}

@media screen and (min-width: 768px) and (max-width: 992px) {
  .content-item {
    width: 50%;
    padding: 10px 15px;
  }
}

@media screen and (max-width: 768px) {
  .content-item {
    width: 100%;
    padding: 10px 0;
  }
}

.blog-item {
  box-sizing: border-box;
  width: 30%;
}

.blog-item .m-article {
  border-radius: 0;
  box-shadow: none;
}

@media screen and (min-width: 768px) and (max-width: 992px) {
  .blog-item {
    width: 48%;
    padding: 10px 15px;
  }
}

@media screen and (max-width: 768px) {
  .blog-item {
    width: 100%;
    padding: 10px 0;
  }
}

.content-title {
  font-size: 44px;
  font-weight: normal;
  color: #2e3e4a;
  margin-top: 30px;
  text-align: center;
}

@media screen and (min-width: 768px) and (max-width: 992px) {
  .content-title {
    font-size: 30px;
  }
}

@media screen and (max-width: 768px) {
  .content-title {
    font-size: 30px;
  }
}

.content-intro {
  font-size: 21px;
  font-weight: 300;
  margin-top: 20px;
  margin-bottom: 50px;
  color: #2e3e4a;
  text-align: center;
}

@media screen and (min-width: 768px) and (max-width: 992px) {
  .content-intro {
    margin-top: 15px;
    margin-bottom: 30px;
    font-size: 16px;
  }
}

@media screen and (max-width: 768px) {
  .content-intro {
    margin-top: 10px;
    margin-bottom: 25px;
    font-size: 14px;
  }
}

.content footer {
  text-align: center;
}

.m-footer {
  -webkit-font-smoothing: antialiased;
  text-align: center;
  background-color: #333;
  padding: 98px 0;
  color: rgba(255, 255, 255, 0.85);
}

.project-intro {
  margin-top: .6rem;
}

.project-main {
  display: flex;
  align-items: center;
  margin-bottom: 36px;
  padding-right: 36px;
}

@media screen and (max-width: 768px) {
  .project-main {
    margin-bottom: 18px;
    padding-right: 18px;
  }
}

.project-main:after {
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  height: 0px;
  background-color: #fff;
  right: 0;
  bottom: 0;
}

.project-cover {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  width: 90px;
  height: 90px;
  border-radius: 50%;
  flex-shrink: 0;
  border: 2px solid #e8e4e2;
  transition: all .4s;
}

@media screen and (max-width: 768px) {
  .project-cover {
    width: 45px;
    height: 45px;
  }
}

.project-cover:hover {
  border: 2px solid #ff561b;
}

.project-cover:hover .project-title {
  color: #ff561b;
}

.project-name {
  font-size: 22px;
  line-height: 1.4;
  padding-left: 40px;
  font-weight: normal;
  color: #2e3e4a;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .project-name {
    padding-left: 20px;
    font-size: 18px;
  }
}

.project-link:link, .project-link:visited {
  color: #2e3e4a;
}

.project-desc {
  font-size: 18px;
  padding-left: 40px;
  color: #999;
  font-weight: 200;
  padding-top: 8px;
}

@media screen and (max-width: 768px) {
  .project-desc {
    padding-left: 20px;
    font-size: 14px;
  }
}

.project-title {
  color: #2e3e4a;
  font-size: 24px;
  font-weight: 200;
  transition: color .4s;
}

@media screen and (max-width: 768px) {
  .project-title {
    font-size: 14px;
  }
}

@media screen and (min-width: 768px) and (max-width: 992px) {
  .articles header {
    text-align: center;
  }
}

.article-cover {
  background: red;
  height: 230px;
}

@media screen and (max-width: 768px) {
  .article-cover {
    height: 180px;
  }
}

.article-title {
  color: #2e3e4a;
  padding: 14px 0 0 0;
  text-align: center;
  font-size: 14px;
}

.navpage {
  color: #efefef;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding-left: 100px;
  background-color: #333;
  opacity: 0;
  transform: translate(100%, 0);
  transition: opacity 1s, transform 0s 1s;
}

@media screen and (min-width: 768px) and (max-width: 992px) {
  .navpage {
    left: 0;
  }
}

@media screen and (max-width: 768px) {
  .navpage {
    left: 0;
    padding: 0 60px 0 20px;
  }
}

.navpage-show .navpage {
  opacity: 1;
  transform: translate(0, 0);
  transition: opacity 1s;
}

.navpage a {
  color: #efefef;
  text-decoration: none;
}

.navpage .content {
  padding-top: 160px;
}

@media screen and (min-width: 768px) and (max-width: 992px) {
  .navpage .content {
    padding-top: 105px;
  }
}

@media screen and (max-width: 768px) {
  .navpage .content {
    padding-top: 85px;
  }
}

.navpage-viewport {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 15;
  overflow: auto;
}

.navpage-main {
  display: flex;
  margin: -30px 0 0 0;
  opacity: 0;
  transition: margin .4s, opacity .4s;
}

@media screen and (min-width: 768px) and (max-width: 992px) {
  .navpage-main {
    display: block;
  }
}

@media screen and (max-width: 768px) {
  .navpage-main {
    display: block;
  }
}

.navpage-show .navpage-main {
  opacity: 1;
  margin: 0;
}

@media (max-width: 991px) {
  .navpage-show .navpage-main.inputFocus .navpage-nav {
    height: 0;
  }
}

.navpage-nav {
  flex: 1;
  height: 16em;
  overflow: hidden;
  transition: height .4s;
}

.navpage-nav a {
  display: inline-block;
  font-size: 32px;
  line-height: 80px;
  font-weight: 200;
}

@media screen and (min-width: 768px) and (max-width: 992px) {
  .navpage-nav a {
    font-size: 20px;
    line-height: 50px;
  }
}

@media screen and (max-width: 768px) {
  .navpage-nav a {
    font-size: 18px;
    line-height: 45px;
  }
}

@media (min-width: 991px) {
  .navpage-nav {
    height: auto;
  }
}

.navpage-search {
  flex: 1 1;
  padding: 0 40px;
}

@media screen and (max-width: 768px) {
  .navpage-search {
    transition: transform .4s;
    transform: translateY(0);
  }
}

@media screen and (min-width: 768px) and (max-width: 992px) {
  .navpage-search {
    padding: 15px 0;
  }
}

@media screen and (max-width: 768px) {
  .navpage-search {
    padding: 15px 0;
  }
}

.navpage-search .fullname-logo {
  font-size: 44px;
  font-weight: 200;
  font-family: myriad pro, myriad, sans-serif, arial;
  line-height: 1.4;
  font-style: italic;
  padding: 0 0 30px 0;
  text-align: left;
  margin-bottom: 0;
}

@media screen and (max-width: 768px) {
  .navpage-search .fullname-logo {
    transition: opacity .4s;
    opacity: 1;
  }
}

@media screen and (min-width: 768px) and (max-width: 992px) {
  .navpage-search .fullname-logo {
    padding: 20px 0;
  }
}

@media screen and (max-width: 768px) {
  .navpage-search .fullname-logo {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .inputFocus .fullname-logo {
    opacity: 0;
  }
}

@media screen and (max-width: 768px) {
  .inputFocus .navpage-search {
    transform: translateY(-154px);
  }
}

.navpage-search-wrapper {
  transition: width .5s;
  box-sizing: border-box;
  display: table;
  width: 340px;
  position: relative;
}

@media screen and (max-width: 768px) {
  .navpage-search-wrapper {
    width: 100%;
  }
}

.navpage-search-input {
  background-color: transparent;
  border: 1px solid #efefef;
  outline: none;
  padding: 12px 20px;
  font-size: 14px;
  box-sizing: border-box;
  width: 100%;
  color: #efefef;
}

.m-search-help {
  cursor: pointer;
  position: absolute;
  right: 15px;
  top: 11px;
  line-height: 32px;
  font-size: 18px;
  width: 20px;
  height: 23px;
  color: #2e3e4a;
  background-image: url(https://ws1.sinaimg.cn/large/006cGJIjly1fknu3g34hrj300k00ndfl.jpg);
  background-size: contain;
}

.m-search-help:hover .m-search-tip {
  display: inline-block;
}

.m-search-tip {
  display: none;
  cursor: auto;
  position: absolute;
  right: -16px;
  top: 35px;
  z-index: 9999;
  background-color: rgba(255, 255, 255, 0.2);
  color: #fff;
  font-size: 12px;
  text-align: left;
  white-space: nowrap;
  line-height: 1.5;
  font-weight: 200;
  padding: 8px;
  border-radius: 4px;
}

.m-search-tip:after {
  content: '';
  display: block;
  position: absolute;
  top: -16px;
  right: 17px;
  width: 0;
  height: 0;
  border-width: 8px;
  border-style: solid;
  border-color: transparent;
  border-bottom-color: rgba(255, 255, 255, 0.3);
}

.navpage-search-results {
  overflow: auto;
  background-color: rgba(255, 255, 255, 0.2);
}

.navpage-search-results a:hover {
  color: #efefef;
}

.navpage-search-results ul {
  padding: 10px 0;
}

.navpage-search-results li {
  margin: 5px 0;
  padding: 5px 20px;
}

.navpage-search-results li:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.navpage-search-results .active {
  background-color: rgba(255, 255, 255, 0.2);
}

.navpage-search-results .result-url {
  opacity: .6;
  font-size: 10px;
  word-break: break-all;
}

.navpage-search-intro {
  margin: 20px 0 0 0;
  font-size: 18px;
  color: #efefef;
}

@media screen and (min-width: 768px) and (max-width: 992px) {
  .navpage-search-intro {
    font-size: 14px;
  }
}

@media screen and (max-width: 768px) {
  .navpage-search-intro {
    font-size: 12px;
  }
}

.navpage-backgrounds {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-position: center;
  background-size: cover;
  background-image: url(https://ws1.sinaimg.cn/large/005T0OjCly1fpcjd72ljvj318g0rsdim.jpg);
}

.navpage-backgrounds:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(20, 20, 20, 0.6);
}

.navpage-background {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0;
  transition: opacity .5s;
  background-position: center;
  background-size: cover;
  transform: scale(1);
}

.navpage-background.projects {
  background-image: url(https://ws1.sinaimg.cn/large/006cGJIjly1fj1zp617ujj31hc0zkaj2.jpg);
}

.navpage-background.articles {
  background-image: url(https://ws1.sinaimg.cn/large/006cGJIjly1fj1zp7q52xj31hc0zj7rh.jpg);
  transform: scale(1.1);
}

.navpage-background.github {
  background-image: url(https://ws1.sinaimg.cn/large/006cGJIjly1fj1zp739bkj31hc0zk16e.jpg);
}

.navpage-background.about {
  background-image: url(https://ws1.sinaimg.cn/large/006cGJIjly1fj1zp4c7f4j31hc0zqtfd.jpg);
  transform: scale(1.1);
}

.navpage-background.active {
  opacity: 1;
  transition: opacity .5s, transform 20s;
  transform: scale(1.1);
}

.navpage-background.active.articles, .navpage-background.active.about {
  transform: scale(1);
}

.m-article {
  font-size: 0;
  cursor: pointer;
  position: relative;
  top: 0;
  transition: all .2s;
}

.m-article .m-article-img {
  width: 100%;
  height: 200px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-bottom: 1px solid #eee;
}

@media screen and (min-width: 768px) and (max-width: 992px) {
  .m-article .m-article-img {
    height: 180px;
  }
}

.m-article .m-article-title {
  color: #2e3e4a;
  font-size: 19px;
  font-weight: 400;
  padding: 6px 0 20px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.m-article .m-article-desc {
  font-size: 12px;
  color: #666;
  padding: 0 16px 16px;
}

.row-footer {
  background-color: #f8f9fa;
}

@media screen and (min-width: 1200px) {
  .fullname-logo {
    font-size: 54px;
    margin-bottom: 40px;
  }
  .fullname-desc {
    line-height: 1.6;
  }
}
