$title-color: #2e3e4a;
$text-color: #2e3e4a;
$intro-color: #919191;
$title-color-l: #efefef;

$aside-bg-color: #333;
$bg-color: #e7e4e4;

$main-color-red: #ff561b;
$main-color-yellow: #fac200;
$main-color-green: #57cf27;
$main-color-blue: #2395f1;