$color-yellow:          #fac200;
$color-yellow-light:    #fbd13d;
$color-yellow-dark:     #dc9e00;

$color-blue:            #2395f1;
$color-blue-light:      #58aef4;
$color-blue-dark:       #1c7dd2;

$color-red:             #ff561b;
$color-red-light:       #ff7e52;
$color-red-dark:        #bd2636;


$color-green:           #57cf27;
$color-green-light:     #7fda5b;
$color-green-dark:      #55b622;

// 间距
$min-space: 8px;
$middle-space: 16px;
$max-space: 24px;
// text

$color-text-gray:      #6f7c82;
